<h1>Listing entries</h1>

<table>
  <thead>
    <tr>
      <th>Entry type</th>
      <th>User</th>
      <th>Customer</th>
      <th>Book</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.entry_type %></td>
        <td><%= entry.user_id %></td>
        <td><%= entry.customer_id %></td>
        <td><%= entry.book_id %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Entry', new_entry_path %>
